.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.main {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* justify-content: center; */
}

.icons {
    display: flex;
    justify-content: space-evenly;
}