body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*  */

.passenger-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border-radius: 15px;
    background-color: black;
    height: 100vh;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    color: black;
}

#increment-btn {
    background: darkblue;
    width: 150px;
    border: 1px white solid;
}

#add-btn {
    background: darkgreen;
    width: 150px;
    border: 1px white solid;
}

#undo-btn {
    background: darkred;
    width: 150px;
    border: 1px white solid;
}

h3 {
    color: white;
    /* text-shadow: 1px 1px 1px white; */
}